{% extends 'main.html' %}

{% block content %}

<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:380px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign in</h4></header>
            
            {% include 'includes/alerts.html' %}
            
            <form action="{% url 'login' %}" method="POST" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address" name="email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                
                <div class="form-group">
                    <a href="#" class="float-right">Forgot password?</a>
                </div>
            </form>
            
            <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        </article>
    </div>
</section>

{% endblock %} 